{% extends "parent.html" %}
{% block content %}

	<!--HEADER SECTION-->
	<section>
		<div>
			<div>
				<div>
			<div class="slider fullscreen">
				<ul class="slides">
					<li> <img src="static/images/slider/1.jpg" alt="">
						<!-- random image -->
						<div class="caption center-align slid-cap">
							<h5 class="light grey-text text-lighten-3">Chung tay vì một môi trường xanh</h5>
							<h2>Việt Nam Buz xin chào</h2>
							<p>Khám phá trải nghiệm đặt vé xe buýt trực tuyến tiện lợi và nhanh chóng, hãy đồng hành cùng chúng tôi để dễ dàng lựa chọn và đặt chỗ cho hành trình của bạn!</p> </div>
					</li>
					<li> <img src="static/images/slider/2.jpg" alt="">
						<!-- random image -->
						<div class="caption center-align slid-cap">
							<h5 class="light grey-text text-lighten-3">Chung tay vì một môi trường xanh</h5>
							<h2>Việt Nam Buz xin chào</h2>
							<p>Khám phá trải nghiệm đặt vé xe buýt trực tuyến tiện lợi và nhanh chóng, hãy đồng hành cùng chúng tôi để dễ dàng lựa chọn và đặt chỗ cho hành trình của bạn!</p> </div>
					</li>
					<li> <img src="static/images/slider/3.jpg" alt="">
						<!-- random image -->
						<div class="caption center-align slid-cap">
							<h5 class="light grey-text text-lighten-3">Chung tay vì một môi trường xanh</h5>
							<h2>Việt Nam Buz xin chào</h2>
							<p>Khám phá trải nghiệm đặt vé xe buýt trực tuyến tiện lợi và nhanh chóng, hãy đồng hành cùng chúng tôi để dễ dàng lựa chọn và đặt chỗ cho hành trình của bạn!</p> </div>
					</li>
					<li> <img src="static/images/slider/4.jpg" alt="">
						<!-- random image -->
						<div class="caption center-align slid-cap">
							<h5 class="light grey-text text-lighten-3">Chung tay vì một môi trường xanh</h5>
							<h2>Việt Nam Buz xin chào</h2>
							<p>Khám phá trải nghiệm đặt vé xe buýt trực tuyến tiện lợi và nhanh chóng, hãy đồng hành cùng chúng tôi để dễ dàng lựa chọn và đặt chỗ cho hành trình của bạn!</p> </div>
					</li>
				</ul>
			</div>
				</div>
			</div>
		</div>
	</section>
	<!--END HEADER SECTION-->		

<section>
		<div class="rows pad-bot-redu tb-space hom2-ban-pack">
			<div class="container">
				<div>
					<!-- TOUR PLACE 1 -->
					<div class="col-md-4 col-sm-6 col-xs-12 b_packages wow fadeInUp" data-wow-duration="0.5s">
						<!-- OFFER BRAND -->
						<div class="band"> <img src="static/images/band.png" alt=""> </div>
						<!-- IMAGE -->
						<div class="v_place_img"> <img src="static/images/t5.png" alt="Tour Booking" title="Tour Booking"> </div>
						<!-- TOUR TITLE & ICONS -->
						<div class="b_pack rows">
							<!-- TOUR TITLE -->
							<div class="col-md-8 col-sm-8">
								<h4><a href="tour-details.html">Rio de Janeiro<span class="v_pl_name">(Brazil)</span></a></h4> </div>
							<!-- TOUR ICONS -->
							<div class="col-md-4 col-sm-4 pack_icon">
								<ul>
									<li>
										<a href="#"><img src="static/images/clock.png" alt="Date" title="Tour Timing"> </a>
									</li>
									<li>
										<a href="#"><img src="static/images/info.png" alt="Details" title="View more details"> </a>
									</li>
									<li>
										<a href="#"><img src="static/images/price.png" alt="Price" title="Price"> </a>
									</li>
									<li>
										<a href="#"><img src="static/images/map.png" alt="Location" title="Location"> </a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- TOUR PLACE 2 -->
					<div class="col-md-4 col-sm-6 col-xs-12 b_packages wow fadeInUp" data-wow-duration="1s">
						<!-- OFFER BRAND -->
						<div class="band"> <img src="static/images/band1.png" alt=""> </div>
						<!-- IMAGE -->
						<div class="v_place_img"> <img src="static/images/t1.png" alt="Tour Booking" title="Tour Booking"> </div>
						<!-- TOUR TITLE & ICONS -->
						<div class="b_pack rows">
							<!-- TOUR TITLE -->
							<div class="col-md-8 col-sm-8">
								<h4><a href="tour-details.html">Paris<span class="v_pl_name">(England)</span></a></h4> </div>
							<!-- TOUR ICONS -->
							<div class="col-md-4 col-sm-4 pack_icon">
								<ul>
									<li>
										<a href="#"><img src="static/images/clock.png" alt="Date" title="Tour Timing"> </a>
									</li>
									<li>
										<a href="#"><img src="static/images/info.png" alt="Details" title="View more details"> </a>
									</li>
									<li>
										<a href="#"><img src="static/images/price.png" alt="Price" title="Price"> </a>
									</li>
									<li>
										<a href="#"><img src="static/images/map.png" alt="Location" title="Location"> </a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- TOUR PLACE 3 -->
					<div class="col-md-4 col-sm-6 col-xs-12 b_packages wow fadeInUp" data-wow-duration="1.5s">
						<div class="v_place_img"><img src="static/images/t2.png" alt="Tour Booking" title="Tour Booking"> </div>
						<div class="b_pack rows">
							<div class="col-md-8 col-sm-8">
								<h4><a href="tour-details.html">South India<span class="v_pl_name">(India)</span></a></h4> </div>
							<div class="col-md-4 col-sm-4 pack_icon">
								<ul>
									<li>
										<a href="#"><img src="static/images/clock.png" alt="Date" title="Tour Timing"> </a>
									</li>
									<li>
										<a href="#"><img src="static/images/info.png" alt="Details" title="View more details"> </a>
									</li>
									<li>
										<a href="#"><img src="static/images/price.png" alt="Price" title="Price"> </a>
									</li>
									<li>
										<a href="#"><img src="static/images/map.png" alt="Location" title="Location"> </a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	
	<!--====== REQUEST A QUOTE ==========-->
	<section>
        <div class="form tb-space pad-top-o">
            <div class="rows container">
                <div class="spe-title">
                    <h2>Đặt <span>vé xe bus</span> ngay!</h2>
                    <div class="title-line">
                        <div class="tl-1"></div>
                        <div class="tl-2"></div>
                        <div class="tl-3"></div>
                    </div>
                    <p>Dịch vụ xe bus tốt nhất Bình Dương với nhiều tuyến đường thuận tiện cho việc di chuyển trong tỉnh của bạn.</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 form_1">
                    <div class="succ_mess">Thank you for contacting us we will get back to you soon.</div>
						<form novalidate id="search_form" action="/select_route" class="v2-search-form">
							<div class="row">
								<div class="input-field col s12">
									<select required onChange="changeSelected()" id="bg_point" name="bg_point">
										<option value="">Chọn điểm đi</option>
										{% for name in bg_point %}
										   <option value="{{name}}">{{name}}</option>
										   {% set iterated = true %}
			 
										{% endfor %}

								  	</select>
								  
								</div>
								<div class="col s12">
									<select required id="arr_point" name="arr_point">
										<option  value="">Chọn điểm đến</option>
									
								  	</select>
								</div>
							</div>
							<label style="margin-top: 5px; " for="date">Ngày đi</label>
							<div style="margin-top: -15px; " class="row">
								<div class="input-field col s12">
									<input  type="date" id="date" name="date">
									
								</div>
								
							</div>				
							<div class="row">
								<div class="input-field col s12">
									<input type="submit" value="Tìm kiếm" class="waves-effect waves-light tourz-sear-btn v2-ser-btn">
									
								</div>
							</div>
						</form>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 family">
                    <img src="static/images/family.png" alt="" />
                </div>
            </div>
        </div>
    </section>
	

	
	
	
	
	<script>
		
		function changeSelected() {
			
		   $bgp = $('#bg_point').val();
		   console.log($bgp)
		   
		   $.ajax({
			   url : '/get_arr_point_api',
			   type : 'POST',
			   data : JSON.stringify({'bg' : $bgp }),
			   contentType: "application/json;charset=utf-8",
			   dataType:'json',
			   success : function(res) { 
				$('#arr_point').empty();
				 $.each(res, function (i, item) {
					$('#arr_point').append('<option value="' + item + '">' + item + '</option>');
					
				 }); 
				 $('#arr_point').material_select();
			   },
			   error : function(request,error)
			   {
				   console.log("Request: "+JSON.stringify(request));
			   }
		   });
		}
		window.addEventListener('DOMContentLoaded',function () {
			$('#search_form').submit(function() {
				if ($.trim($("#bg_point").val()) === "" || $.trim($("#arr_point").val()) === "" || $.trim($("#date").val()) === "") {
					alert('Vui lòng chọn điểm bắt đầu, kết thúc và ngày khởi hành để tìm kiếm');
					return false;
				}
			});	

			var today = new Date();
            today.setDate(today.getDate() + 1);
            

            var minDate = today.toISOString().split('T')[0];

            $("#date").attr("min", minDate);
            
		});
		

	 </script>
{% endblock %}