{% extends "admin/admin_parent.html" %}
{% block content %}
<style>
    @media (max-width: 575.98px) {
  .invoice-edit .invoice-preview-card .invoice-calculations,
  .invoice-add .invoice-preview-card .invoice-calculations {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .invoice-edit .repeater-title,
  .invoice-add .repeater-title {
    position: absolute;
    top: -1.75rem;
  }
}
.invoice-edit .invoice-preview-card .repeater-wrapper:not(:last-child),
.invoice-add .invoice-preview-card .repeater-wrapper:not(:last-child) {
  margin-bottom: 1.5rem;
}
@media print {
  .invoice-edit hr,
  .invoice-add hr {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
}

</style>
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row invoice-add">
      <!-- Invoice Add-->
      <div class="col-lg-9 col-12 mb-lg-0 mb-4">
        <div class="card invoice-preview-card">
          <div class="card-body">
            <div class="row mx-0">
              <div class="col-md-7 mb-md-0 mb-4 ps-0">
                <div class="d-flex svg-illustration align-items-center gap-2 mb-4">
                  <span class="app-brand-logo demo">
                    <span style="color: var(--bs-primary)">
                      <svg
                        width="268"
                        height="150"
                        viewBox="0 0 38 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M30.0944 2.22569C29.0511 0.444187 26.7508 -0.172113 24.9566 0.849138C23.1623 1.87039 22.5536 4.14247 23.5969 5.92397L30.5368 17.7743C31.5801 19.5558 33.8804 20.1721 35.6746 19.1509C37.4689 18.1296 38.0776 15.8575 37.0343 14.076L30.0944 2.22569Z"
                          fill="currentColor" />
                        <path
                          d="M30.171 2.22569C29.1277 0.444187 26.8274 -0.172113 25.0332 0.849138C23.2389 1.87039 22.6302 4.14247 23.6735 5.92397L30.6134 17.7743C31.6567 19.5558 33.957 20.1721 35.7512 19.1509C37.5455 18.1296 38.1542 15.8575 37.1109 14.076L30.171 2.22569Z"
                          fill="url(#paint0_linear_2989_100980)"
                          fill-opacity="0.4" />
                        <path
                          d="M22.9676 2.22569C24.0109 0.444187 26.3112 -0.172113 28.1054 0.849138C29.8996 1.87039 30.5084 4.14247 29.4651 5.92397L22.5251 17.7743C21.4818 19.5558 19.1816 20.1721 17.3873 19.1509C15.5931 18.1296 14.9843 15.8575 16.0276 14.076L22.9676 2.22569Z"
                          fill="currentColor" />
                        <path
                          d="M14.9558 2.22569C13.9125 0.444187 11.6122 -0.172113 9.818 0.849138C8.02377 1.87039 7.41502 4.14247 8.45833 5.92397L15.3983 17.7743C16.4416 19.5558 18.7418 20.1721 20.5361 19.1509C22.3303 18.1296 22.9391 15.8575 21.8958 14.076L14.9558 2.22569Z"
                          fill="currentColor" />
                        <path
                          d="M14.9558 2.22569C13.9125 0.444187 11.6122 -0.172113 9.818 0.849138C8.02377 1.87039 7.41502 4.14247 8.45833 5.92397L15.3983 17.7743C16.4416 19.5558 18.7418 20.1721 20.5361 19.1509C22.3303 18.1296 22.9391 15.8575 21.8958 14.076L14.9558 2.22569Z"
                          fill="url(#paint1_linear_2989_100980)"
                          fill-opacity="0.4" />
                        <path
                          d="M7.82901 2.22569C8.87231 0.444187 11.1726 -0.172113 12.9668 0.849138C14.7611 1.87039 15.3698 4.14247 14.3265 5.92397L7.38656 17.7743C6.34325 19.5558 4.04298 20.1721 2.24875 19.1509C0.454514 18.1296 -0.154233 15.8575 0.88907 14.076L7.82901 2.22569Z"
                          fill="currentColor" />
                        <defs>
                          <linearGradient
                            id="paint0_linear_2989_100980"
                            x1="5.36642"
                            y1="0.849138"
                            x2="10.532"
                            y2="24.104"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-opacity="1" />
                            <stop offset="1" stop-opacity="0" />
                          </linearGradient>
                          <linearGradient
                            id="paint1_linear_2989_100980"
                            x1="5.19475"
                            y1="0.849139"
                            x2="10.3357"
                            y2="24.1155"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-opacity="1" />
                            <stop offset="1" stop-opacity="0" />
                          </linearGradient>
                        </defs>
                      </svg>
                    </span>
                  </span>
                  <span class="h4 mb-0 app-brand-text fw-bold">VNBuz</span>
                </div>
                <p class="mb-1">Văn phòng 149, Chợ TDM</p>
                <p class="mb-1">TP. Thủ Dầu Một, BD 82400, VN</p>
                <p class="mb-0">+84 (123) 456 7891, +84 (876) 543 2198</p>
              </div>
              <div class="col-md-5 pe-0 ps-0 ps-md-2">
                <dl class="row mb-2 g-2">
                  <dt class="col-sm-6 mb-2 d-md-flex align-items-center justify-content-end">
                    <span class="h4 text-capitalize mb-0 text-nowrap">Hóa đơn</span>
                  </dt>
                  <dd class="col-sm-6">
                    <div class="input-group input-group-merge disabled">
                      <span class="input-group-text">#</span>
                      <input
                        type="text"
                        class="form-control"
                        disabled
                        placeholder="3905"
                        value="3905"
                        id="invoiceId" />
                    </div>
                  </dd>
                  <dt class="col-sm-6 mb-2 d-md-flex align-items-center justify-content-end">
                    <span class="fw-normal">Ngày:</span>
                  </dt>
                  <dd class="col-sm-6">
                    <input type="text" value="{{now}}" readonly class="form-control date-picker" placeholder="YYYY-MM-DD" />
                  </dd>
                  
                  
                </dl>
              </div>
            </div>
          </div>
          <hr class="my-0" />
          <div class="card-body">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="my-3">
                <h6 class="pb-2">Hóa đơn đến:</h6>
                <p class="mb-1">{{customer.khachhang.HoVaTenKhachHang if customer.khachhang.HoVaTenKhachHang else 'Khách hàng'}}</p>
                <p class="mb-1">{{customer.khachhang.DiaChi}}</p>
                
                <p class="mb-1">{{customer.khachhang.SoDienThoai}}</p>
                <p class="mb-0">{{customer.nguoidung.TaiKhoan}}</p>
              </div>
              
            </div>
          </div>
          <hr class="my-0" />
          <div class="card-body">
            <form class="source-item pt-1">
              <div class="mb-3" data-repeater-list="group-a">
                <div class="repeater-wrapper pt-0 pt-md-4" data-repeater-item>
                  <div class="d-flex border rounded position-relative pe-0">
                    <div class="invoice-item-row row w-100 p-3">
                      <div class="col-md-6 col-12 mb-md-0 mb-3">
                        <p class="mb-2 repeater-title">Dịch vụ</p>
                        <select class="form-select item-details mb-3">
                          <option selected disabled>Chọn dịch vụ</option>
                          <option data-gia="55000" value="Ưu tiên - một tuyến (55k/tháng)">Ưu tiên - một tuyến (55k/tháng)</option>
                          <option data-gia="100000" value="Ưu tiên - liên tuyến (100k/tháng)">Ưu tiên - liên tuyến (100k/tháng)</option>
                          <option data-gia="100000" value="Bình thường - một tuyến (100k/tháng)">Bình thường - một tuyến (100k/tháng)</option>
                          <option data-gia="200000" value="Bình thường - liên tuyến (200k/tháng)">Bình thường - liên tuyến (200k/tháng)</option>
                          <option data-gia="0" value="Khác">Khác</option>
                        </select>
                        <textarea class="form-control" rows="2" placeholder="Item Information"></textarea>
                      </div>
                      <div class="col-md-2 col-12 mb-md-0 mb-3">
                        <p class="mb-2 repeater-title">Số tiền</p>
                        <input
                          type="number"
                          class="form-control invoice-item-price mb-2"
                          placeholder="00"
                          min="12" />
                        
                      </div>
                      <div class="col-md-2 col-12 mb-md-0 mb-3">
                        <p class="mb-2 repeater-title">Số lượng</p>
                        <input
                          type="number"
                          class="form-control invoice-item-qty"
                          placeholder="1"
                          min="1"
                          max="50" />
                      </div>
                      <div class="col-md-2 col-12 pe-0">
                        <p class="mb-2 repeater-title">Thành tiền</p>
                        <p  class="rp-amount mb-0"></p>
                      </div>
                    </div>
                      <div class="rpt-deleter d-flex flex-column align-items-center justify-content-between border-start p-2">
                                  <i class="mdi mdi-close cursor-pointer" data-repeater-delete></i>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button type="button" class="btn btn-sm btn-primary" data-repeater-create>
                    <i class="mdi mdi-plus me-1"></i> Thêm
                  </button>
                </div>
              </div>
            </form>
          </div>

          <hr class="my-0" />
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 mb-md-0 mb-3">
                <div class="form-floating form-floating-outline mb-4">
                  <input
                    type="text"
                    class="form-control"
                    id="salesperson"
                    placeholder="Nhân viên VNBuz"
                    value="Nhân viên VNBuz" />
                  <label for="salesperson" class="fw-medium">Người thực hiện</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                  <input
                    type="text"
                    class="form-control"
                    id="invoiceMsg"
                    placeholder="Cảm ơn đã sử dụng dịch vụ của VNBuz!"
                    value="Cảm ơn đã sử dụng dịch vụ của VNBuz!" />
                  <label for="invoiceMsg">Ghi chú</label>
                </div>
              </div>
              <div class="col-md-6 d-flex justify-content-md-end mt-2">
                <div class="invoice-calculations">
                  <div class="d-flex justify-content-between mb-2">
                    <span class="w-px-150">Tạm tính:</span>
                    <h6 class="mb-0 pt-1 i-subtotal">0</h6>đ
                  </div>
                  <div class="d-flex justify-content-between mb-2">
                    <span class="w-px-150">Khuyến mãi:</span>
                    <h6 class="mb-0 pt-1">0đ</h6>
                  </div>
                  <div class="d-flex justify-content-between mb-2">
                    <span class="w-px-150">Thuế:</span>
                    <h6 class="mb-0 pt-1">0đ</h6>
                  </div>
                  <hr />
                  <div class="d-flex justify-content-between">
                    <span class="w-px-150">Tổng tiền:</span>
                    <h6 class="mb-0 pt-1" i-total>0</h6>đ
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="my-0" />
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="mb-3">
                  <label for="note" class="form-label fw-medium text-heading">Ghi chú hóa đơn:</label>
                  <textarea class="form-control" rows="2" id="note" placeholder="Nhập ghi chú hóa đơn"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Invoice Add-->

      <!-- Invoice Actions -->
      <div class="col-lg-3 col-12 invoice-actions">
        <div>
          <div class="form-floating form-floating-outline mb-4">
            <select class="form-select bg-body mb-4" id="payment-method">
              <option value="0">Tiền mặt</option>
              <option value="1">VNPay</option>
              <option value="2">Số dư ví: {{wallet.SoDu}}</option>
              <option value="3">VNPay</option>
            </select>
            <label for="payment-method" class="bg-body">Thanh toán qua</label>
          </div>
          
        </div>
        
        <div class="card mb-4">
          
          <div class="card-body">
            <button
              class="btn btn-primary d-grid w-100 mb-3"
              onclick="save_invoice()"
              >
              <span class="d-flex align-items-center justify-content-center text-nowrap"
                ><i class="mdi mdi-send-outline scaleX-n1-rtl me-2"></i>LƯU HÓA ĐƠN</span
              >
            </button>
            
          </div>
        </div>
        
      </div>
      <!-- /Invoice Actions -->
    </div>
    <div class="modal fade" id="VNPayQRModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-simple">
        <div class="modal-content p-3 p-md-5">
          <div class="modal-body py-3 py-md-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="text-center mb-4">
              <h3 class="mb-0">Thanh toán hóa đơn bằng mã QR VNPay</h3>
            </div>
            <h5 class="mb-3 pt-1 text-break">Sử dụng ứng dụng VNPay hoặc ngân hàng</h5>
            <p class="mb-4">
              Hoặc chọn chức năng quét mã QR trên máy sau đó quét mã bên dưới để tiếp tục.
            </p>
            <div class="text-center mb-4">
              <img id="vnpay-qrcode" src="" alt="QR Code" width="122" />
            </div>
            <div class="alert alert-warning alert-dismissible my-4" role="alert">
              <h5 class="alert-heading mb-2 text-break">Lưu ý</h5>
              <p class="mb-0">Nếu đã thanh toán thành công trên VNPay nhưng kiểm tra kết quả giao dịch trả về kết quả lỗi chúng tôi sẽ xác minh và hoàn tiền trong vàng 3 - 5 ngày. Vui lòng không tắt trình duyệt cho tới khi kiểm tra kết quả hoàn thành!</p>
            </div>
            <div class="mb-4">
              <input
                type="email"
                class="form-control form-control-lg"
                id="twoFactorAuthInput"
                placeholder="Nhập mã xác nhận" />
            </div>
            <div class="col-12 text-end">
              <button
                type="button"
                class="btn btn-outline-secondary me-sm-3 me-1"
                data-bs-toggle="modal"
                data-bs-target="#twoFactorAuth">
                <i class="mdi mdi-arrow-left me-1 scaleX-n1-rtl"></i
                ><span class="align-middle d-none d-sm-inline-block">Trở về</span>
              </button>
              <button type="button" class="btn btn-primary" aria-label="Close">
                <span class="align-middle d-none d-sm-inline-block">Kiểm tra giao dịch</span
                ><i class="mdi mdi-arrow-right ms-1 scaleX-n1-rtl"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
  <!-- Vendors JS -->
  
  
  <!-- Page JS -->
  <script>
    function getAllItemDetails() {
      var itemDetails = [];

      $('.repeater-wrapper:not([style*="display: none"])').each(function () {
        var type = $(this).find('.item-details').val();
        var description = $(this).find('textarea').val();
        var quantity = parseInt($(this).find('.invoice-item-qty').val()) || 1;
        var price = parseFloat($(this).find('.invoice-item-price').val()) || 0;
        var totalPrice = price * quantity;

        var itemDetail = {
          type: type,
          description: description,
          quantity: quantity,
          totalPrice: totalPrice
        };

        itemDetails.push(itemDetail);
      });

      return itemDetails;
    }

    function check_invoice(allItemDetails) {
      var hasEmptyItem = false;
      for (var i = 0; i < allItemDetails.length; i++) {
        var item = allItemDetails[i];

        if (!item.type || !item.description || !item.quantity || !item.totalPrice) {
          hasEmptyItem = true;
          break; 
        }
      }
      return hasEmptyItem 
    }
    
    function save_invoice() {
      var note = $('#note').val();
      var total = $('[i-total]').text();
      var paymentMethod = $('#payment-method').val();
      var userId = '{{customer.nguoidung.MaNguoiDung}}';
      var itemDetails = getAllItemDetails();
      var check = check_invoice(itemDetails);
      console.log(check);
      if (check) {
        Swal.fire({
          icon: 'error',
          title: 'Lỗi',
          text: 'Vui lòng nhập đầy đủ thông tin cho tất cả các mục trong hóa đơn.',
        });
        return false;
      }

      var requestData = {
        note: note,
        paymentMethod: paymentMethod,
        userId: userId,
        total: total,
        items: itemDetails
      };

      $.ajax({
        type: 'POST',
        url: '/admin/save_customer_invoice_api',
        data: JSON.stringify(requestData),
        contentType: 'application/json',
        success: function (response) { 
          Swal.fire({
            icon: 'success',
            title: 'Hóa đơn đã được lưu thành công!',
            showCancelButton: false,
            confirmButtonText: 'Xem chi tiết',
            allowOutsideClick: false,
            allowEscapeKey: false,
          }).then((result) => {
            
            if (result.isConfirmed) {
              window.location.href = '/admin/invoice_detail/' + response.id; 
            }
          });
        },
        error: function (error) {
          Swal.fire({
            icon: 'error',
            title: 'Lỗi',
            text: 'Đã xảy ra lỗi khi lưu hóa đơn. Vui lòng thử lại sau.',
          });
        }
      });
    }


    document.addEventListener('DOMContentLoaded', function () {
    
      // repeater (jquery)
      $(function () {
        var applyChangesBtn = $('.btn-apply-changes'),
          discount,
          tax1,
          tax2,
          discountInput,
          tax1Input,
          tax2Input,
          sourceItem = $('.source-item'),
          adminDetails = {
            'Ưu tiên - một tuyến (55k/tháng)': ['Dịch vụ vé tháng ưu tiên dành cho một tuyến cố định.', 55000],
            'Ưu tiên - liên tuyến (100k/tháng)': ['Dịch vụ vé tháng  ưu tiên dành cho tất cả các tuyến hiện tại.', 100000],
            'Bình thường - một tuyến (100k/tháng)': ['Dịch vụ vé thành dành cho người bình thường một tuyến cố định.', 100000],
            'Bình thường - liên tuyến (200k/tháng)': ['Dịch vụ vé tháng dành cho người bình thường có thể sử dụng cho tất cả các tuyến hiện tại.', 200000],
            'Khác': ['', 0]
          };

        // Prevent dropdown from closing on tax change
        $(document).on('click', '.tax-select', function (e) {
          e.stopPropagation();
        });

        // On tax change update it's value value
        function updateValue(listener, el) {
          listener.closest('.repeater-wrapper').find(el).text(listener.val());
        }

        // Repeater init
        if (sourceItem.length) {
          sourceItem.on('submit', function (e) {
            e.preventDefault();
          });
          sourceItem.repeater({
            show: function () {
              $(this).slideDown();
              // Initialize tooltip on load of each item
              const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
              tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
              });
            },
            hide: function (e) {
              $(this).slideUp();
            }
          });
        }

        $(document).on('change', '.item-details', function () {
            var $this = $(this),
              value = adminDetails[$this.val()];
            var textarea = $this.next('textarea');
            var inputPrice = $this.closest('.row').find('.invoice-item-price');
            var inputQty = $this.closest('.row').find('.invoice-item-qty');
            var rpAmount = $this.closest('.row').find('.rp-amount');

            if (textarea.length) {
              textarea.val(value[0]);
              inputPrice.val(value[1]);
              inputQty.val(1);
            } else {
              $this.after('<textarea class="form-control" rows="2">' + value[0] + '</textarea>');
            }

            var quantity = parseInt(inputQty.val()) || 1;
            var totalPrice = parseFloat(value[1]) * quantity;
            rpAmount.text(totalPrice.toFixed(0));
            updateInvoiceCalculations();
          });
        });
        $(document).on('input', '.invoice-item-price, .invoice-item-qty', function () {
          var row = $(this).closest('.row');
          var priceInput = row.find('.invoice-item-price');
          var qtyInput = row.find('.invoice-item-qty');
          var rpAmount = row.find('.rp-amount');

          var price = parseFloat(priceInput.val()) || 0;
          var qty = parseInt(qtyInput.val()) || 1;

          var totalPrice = price * qty;
          rpAmount.text(totalPrice.toFixed(0));

          updateInvoiceCalculations();

        });

        function updateInvoiceCalculations() {
          var subtotal = calculateSubtotal();
          var total = subtotal;
          $('.i-subtotal').text(subtotal.toFixed(0));
          $('[i-total]').text(total.toFixed(0));
        }
        function calculateSubtotal() {
          var subtotal = 0;
          $('.repeater-wrapper:not([style*="display: none"])').each(function () {
            var price = parseFloat($(this).find('.invoice-item-price').val()) || 0;
            var qty = parseInt($(this).find('.invoice-item-qty').val()) || 1;
            subtotal += price * qty;
          });
          return subtotal;
        }
        $(document).on('click', '.rpt-deleter', function () {
          var row = $(this).closest('.repeater-wrapper');
            var price = parseFloat(row.find('.invoice-item-price').val()) || 0;
            console.log(price)
            var qty = parseInt(row.find('.invoice-item-qty').val()) || 1;
            
            var subtotal = calculateSubtotal();
            console.log(subtotal);
            var total = subtotal - price * qty;
            console.log(total);
    
            $('.i-subtotal').text(total.toFixed(0));
            $('[i-total]').text(total.toFixed(0));

        });

     });
  </script>  
  <script src="admin/assets/js/offcanvas-send-invoice.js"></script>
  <script src="admin/assets/js/app-invoice-add.js"></script>

{% endblock %}