{% extends "admin/admin_parent.html" %}
{% block content %}
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script> 
<style>
@media (max-width: 575.98px) {
  .invoice-edit .invoice-preview-card .invoice-calculations,
  .invoice-add .invoice-preview-card .invoice-calculations {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .invoice-edit .repeater-title,
  .invoice-add .repeater-title {
    position: absolute;
    top: -1.75rem;
  }
}
.invoice-edit .invoice-preview-card .repeater-wrapper:not(:last-child),
.invoice-add .invoice-preview-card .repeater-wrapper:not(:last-child) {
  margin-bottom: 1.5rem;
}
@media print {
  .invoice-edit hr,
  .invoice-add hr {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
}

</style>
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row invoice-add">
    <!-- Invoice Add-->
    <div id="invoice-info" class="col-lg-9 col-12 mb-lg-0 mb-4">
      <div class="card invoice-preview-card">
        <div class="card-body">
          <div class="row mx-0">
            <div class="col-md-7 mb-md-0 mb-4 ps-0">
              <div class="d-flex svg-illustration align-items-center gap-2 mb-4">
                <span class="app-brand-logo demo">
                  <span style="color: var(--bs-primary)">
                    <svg
                      width="268"
                      height="150"
                      viewBox="0 0 38 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M30.0944 2.22569C29.0511 0.444187 26.7508 -0.172113 24.9566 0.849138C23.1623 1.87039 22.5536 4.14247 23.5969 5.92397L30.5368 17.7743C31.5801 19.5558 33.8804 20.1721 35.6746 19.1509C37.4689 18.1296 38.0776 15.8575 37.0343 14.076L30.0944 2.22569Z"
                        fill="currentColor" />
                      <path
                        d="M30.171 2.22569C29.1277 0.444187 26.8274 -0.172113 25.0332 0.849138C23.2389 1.87039 22.6302 4.14247 23.6735 5.92397L30.6134 17.7743C31.6567 19.5558 33.957 20.1721 35.7512 19.1509C37.5455 18.1296 38.1542 15.8575 37.1109 14.076L30.171 2.22569Z"
                        fill="url(#paint0_linear_2989_100980)"
                        fill-opacity="0.4" />
                      <path
                        d="M22.9676 2.22569C24.0109 0.444187 26.3112 -0.172113 28.1054 0.849138C29.8996 1.87039 30.5084 4.14247 29.4651 5.92397L22.5251 17.7743C21.4818 19.5558 19.1816 20.1721 17.3873 19.1509C15.5931 18.1296 14.9843 15.8575 16.0276 14.076L22.9676 2.22569Z"
                        fill="currentColor" />
                      <path
                        d="M14.9558 2.22569C13.9125 0.444187 11.6122 -0.172113 9.818 0.849138C8.02377 1.87039 7.41502 4.14247 8.45833 5.92397L15.3983 17.7743C16.4416 19.5558 18.7418 20.1721 20.5361 19.1509C22.3303 18.1296 22.9391 15.8575 21.8958 14.076L14.9558 2.22569Z"
                        fill="currentColor" />
                      <path
                        d="M14.9558 2.22569C13.9125 0.444187 11.6122 -0.172113 9.818 0.849138C8.02377 1.87039 7.41502 4.14247 8.45833 5.92397L15.3983 17.7743C16.4416 19.5558 18.7418 20.1721 20.5361 19.1509C22.3303 18.1296 22.9391 15.8575 21.8958 14.076L14.9558 2.22569Z"
                        fill="url(#paint1_linear_2989_100980)"
                        fill-opacity="0.4" />
                      <path
                        d="M7.82901 2.22569C8.87231 0.444187 11.1726 -0.172113 12.9668 0.849138C14.7611 1.87039 15.3698 4.14247 14.3265 5.92397L7.38656 17.7743C6.34325 19.5558 4.04298 20.1721 2.24875 19.1509C0.454514 18.1296 -0.154233 15.8575 0.88907 14.076L7.82901 2.22569Z"
                        fill="currentColor" />
                      <defs>
                        <linearGradient
                          id="paint0_linear_2989_100980"
                          x1="5.36642"
                          y1="0.849138"
                          x2="10.532"
                          y2="24.104"
                          gradientUnits="userSpaceOnUse">
                          <stop offset="0" stop-opacity="1" />
                          <stop offset="1" stop-opacity="0" />
                        </linearGradient>
                        <linearGradient
                          id="paint1_linear_2989_100980"
                          x1="5.19475"
                          y1="0.849139"
                          x2="10.3357"
                          y2="24.1155"
                          gradientUnits="userSpaceOnUse">
                          <stop offset="0" stop-opacity="1" />
                          <stop offset="1" stop-opacity="0" />
                        </linearGradient>
                      </defs>
                    </svg>
                  </span>
                </span>
                <span class="h4 mb-0 app-brand-text fw-bold">VNBuz</span>
              </div>
              <p class="mb-1">Văn phòng 149, Chợ TDM</p>
              <p class="mb-1">TP. Thủ Dầu Một, BD 82400, VN</p>
              <p class="mb-0">+84 (123) 456 7891, +84 (876) 543 2198</p>
            </div>
            <div class="col-md-5 pe-0 ps-0 ps-md-2">
              <dl class="row mb-2 g-2">
                <dt class="col-sm-6 mb-2 d-md-flex align-items-center justify-content-end">
                  <span class="h4 text-capitalize mb-0 text-nowrap">Hóa đơn</span>
                </dt>
                <dd class="col-sm-6">
                  <div class="input-group input-group-merge disabled">
                    <span class="input-group-text">#</span>
                    <input
                      type="text"
                      class="form-control"
                      disabled
                      placeholder="3905"
                      value="{{invoice.MaHoaDon}}"
                      id="invoiceId" />
                  </div>
                </dd>
                <dt class="col-sm-6 mb-2 d-md-flex align-items-center justify-content-end">
                  <span class="fw-normal">Ngày:</span>
                </dt>
                <dd class="col-sm-6">
                  <input type="text" value="{{invoice.NgayLap}}" readonly class="form-control date-picker" placeholder="YYYY-MM-DD" />
                </dd>
                
                
              </dl>
            </div>
          </div>
        </div>
        <hr class="my-0" />
        <div class="card-body">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="my-3">
              <h6 class="pb-2">Hóa đơn đến:</h6>
              <p class="mb-1">{{customer.khachhang.HoVaTenKhachHang if customer.khachhang.HoVaTenKhachHang else 'Khách hàng'}}</p>
              <p class="mb-1">{{customer.khachhang.DiaChi}}</p>
              
              <p class="mb-1">{{customer.khachhang.SoDienThoai}}</p>
              <p class="mb-0">{{customer.nguoidung.TaiKhoan}}</p>
            </div>
            
          </div>
        </div>
        <hr class="my-0" />
        
        <div class="table-responsive">
          <table class="table table-borderless m-0">
            <thead class="border-top">
              <tr>
                <th>Dịch vụ</th>
                
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Tổng</th>
              </tr>
            </thead>
            <tbody>
              {% for it in invoice_items %}
                <tr>
                  <td class="text-nowrap text-heading">{{it.type}}</td>
                  
                  <td>{{it.totalPrice / it.quantity }}</td>
                  <td>{{it.quantity}}</td>
                  <td>{{it.totalPrice}}</td>
                </tr>
              {% endfor %}
              
            </tbody>
          </table>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 mb-md-0 mb-3">
              <div>
                <p class="mb-2">
                  <span class="me-1 text-heading fw-medium">Người thực hiện:</span>
                  <span>Nhân viên VNBuz</span>
                </p>
                <span>Cảm ơn đã sử dụng dịch vụ của VNBuz!</span>
              </div>
            </div>
            <div class="col-md-6 d-flex justify-content-md-end mt-2">
              <div class="invoice-calculations">
                <div class="d-flex justify-content-between mb-2">
                  <span class="w-px-150">Tạm tính:</span>
                  <h6 class="mb-0 pt-1">{{invoice.SoTien}}đ</h6>
                </div>
                <div class="d-flex justify-content-between mb-2">
                  <span class="w-px-150">Giảm giá</span>
                  <h6 class="mb-0 pt-1">0đ</h6>
                </div>
                <div class="d-flex justify-content-between mb-2">
                  <span class="w-px-150">Thuế:</span>
                  <h6 class="mb-0 pt-1">0đ</h6>
                </div>
                <hr />
                <div class="d-flex justify-content-between">
                  <span class="w-px-150">Tổng tiền:</span>
                  <h6 class="mb-0 pt-1">{{invoice.SoTien}}đ</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-0" />
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <span class="fw-medium text-heading">Lưu ý:</span>
              <span
                >{{invoice.LuuY}}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Invoice -->

    <!-- Invoice Actions -->
    <div class="col-xl-3 col-md-4 col-12 invoice-actions">
      <div class="card">
        <div class="card-body">
          
          <a
            class="btn btn-outline-secondary d-grid w-100 mb-3"
            target="_blank"
            onclick="print_invoice()">
            IN HÓA ĐƠN
          </a>
          <a href="/admin/invoice_detail/{{invoice.MaHoaDon}}" class="btn btn-outline-secondary d-grid w-100 mb-3">
            Chỉnh sửa
          </a>
          
        </div>
      </div>
    </div>
    <!-- /Invoice Actions -->
  </div>

  <!-- Offcanvas -->
  <!-- Send Invoice Sidebar -->
  <div class="offcanvas offcanvas-end" id="sendInvoiceOffcanvas" aria-hidden="true">
    <div class="offcanvas-header mb-3">
      <h5 class="offcanvas-title">Send Invoice</h5>
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"></button>
    </div>
    <div class="offcanvas-body flex-grow-1">
      <form>
        <div class="form-floating form-floating-outline mb-4">
          <input
            type="text"
            class="form-control"
            id="invoice-from"
            value="shelbyComapny@email.com"
            placeholder="company@email.com" />
          <label for="invoice-from">From</label>
        </div>
        <div class="form-floating form-floating-outline mb-4">
          <input
            type="text"
            class="form-control"
            id="invoice-to"
            value="qConsolidated@email.com"
            placeholder="company@email.com" />
          <label for="invoice-to">To</label>
        </div>
        <div class="form-floating form-floating-outline mb-4">
          <input
            type="text"
            class="form-control"
            id="invoice-subject"
            value="Invoice of purchased Admin Templates"
            placeholder="Invoice regarding goods" />
          <label for="invoice-subject">Subject</label>
        </div>
        <div class="form-floating form-floating-outline mb-4">
          <textarea class="form-control" name="invoice-message" id="invoice-message" style="height: 190px">
Dear Queen Consolidated,
Thank you for your business, always a pleasure to work with you!
We have generated a new invoice in the amount of $95.59
We would appreciate payment of this invoice by 05/11/2021</textarea
          >
          <label for="invoice-message">Message</label>
        </div>
        <div class="mb-4">
          <span class="badge bg-label-primary rounded-pill">
            <i class="mdi mdi-link-variant mdi-14px me-1"></i>
            <span class="align-middle">Invoice Attached</span>
          </span>
        </div>
        <div class="mb-3 d-flex flex-wrap">
          <button type="button" class="btn btn-primary me-3" data-bs-dismiss="offcanvas">Send</button>
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- /Send Invoice Sidebar -->

  <!-- Add Payment Sidebar -->
  <div class="offcanvas offcanvas-end" id="addPaymentOffcanvas" aria-hidden="true">
    <div class="offcanvas-header mb-3">
      <h5 class="offcanvas-title">Add Payment</h5>
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"></button>
    </div>
    <div class="offcanvas-body flex-grow-1">
      <div class="d-flex justify-content-between bg-lighter p-2 mb-3">
        <p class="mb-0">Invoice Balance:</p>
        <p class="fw-medium mb-0">$5000.00</p>
      </div>
      <form>
        <div class="input-group input-group-merge mb-4">
          <span class="input-group-text">$</span>
          <div class="form-floating form-floating-outline">
            <input
              type="text"
              id="invoiceAmount"
              name="invoiceAmount"
              class="form-control invoice-amount"
              placeholder="100" />
            <label for="invoiceAmount">Payment Amount</label>
          </div>
        </div>
        <div class="form-floating form-floating-outline mb-4">
          <input id="payment-date" class="form-control invoice-date" type="text" />
          <label for="payment-date">Payment Date</label>
        </div>
        <div class="form-floating form-floating-outline mb-4">
          <select class="form-select" id="payment-method">
            <option value="" selected disabled>Select payment method</option>
            <option value="Cash">Cash</option>
            <option value="Bank Transfer">Bank Transfer</option>
            <option value="Debit Card">Debit Card</option>
            <option value="Credit Card">Credit Card</option>
            <option value="Paypal">Paypal</option>
          </select>
          <label for="payment-method">Payment Method</label>
        </div>
        <div class="form-floating form-floating-outline mb-4">
          <textarea class="form-control" id="payment-note" style="height: 62px"></textarea>
          <label for="payment-note">Internal Payment Note</label>
        </div>
        <div class="mb-3 d-flex flex-wrap">
          <button type="button" class="btn btn-primary me-3" data-bs-dismiss="offcanvas">Send</button>
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- /Add Payment Sidebar -->

  <!-- /Offcanvas -->
</div>

  <script>
    function print_invoice() {
      var invoiceInfoDiv = document.getElementById('invoice-info');
      html2canvas(invoiceInfoDiv).then(function (canvas) {
        var newWindow = window.open('', '', 'width=100, height=100'),
      document = newWindow.document.open(),
      pageContent =
          '<!DOCTYPE html>' +
          '<html>' +
          '<head>' +
          '<meta charset="utf-8" />' +
          '<title>Inventory</title>' +
          '<style type="text/css">body {-webkit-print-color-adjust: exact; font-family: Arial; }</style>' +
          '</head>' +
          '<body><div><div ><img src="' + canvas.toDataURL() + '" style="width:100%;"></body></html>';
          document.write(pageContent);
          document.close();
          newWindow.moveTo(0, 0);
          newWindow.resizeTo(screen.width, screen.height);
      setTimeout(function() {
          newWindow.print();
          newWindow.close();
      }, 250);
            });
      

      }
  </script>
{% endblock %}