{% extends "admin/admin_parent.html" %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
	<h4 class="py-3 mb-4"><span class="text-muted fw-light">Vé/</span> Chi tiết vé</h4>

	<!-- Basic Layout & Basic with Icons -->
	<div class="row">
	  <!-- Basic Layout -->
	  <div class="col-xxl">
		<div class="card mb-4">
		  <div class="card-header d-flex align-items-center justify-content-between">
			<h5 class="mb-0">Thông tin vé</h5>
			<small class="text-muted float-end">Default label</small>
		  </div>
		  <div class="card-body">
			<form>
			  <div class="row mb-3">
				<label class="col-sm-2 col-form-label" for="basic-default-name">Ngày đặt vé</label>
				<div class="col-sm-10">
				  <input type="text" class="form-control" id="basic-default-name" readonly value="{{ticket[0].NgayDat}}" placeholder="John Doe" />
				</div>
			  </div>
			  <div class="row mb-3">
				<label class="col-sm-2 col-form-label" for="basic-default-company">Ngày đi</label>
				<div class="col-sm-10">
				  <input
				    value="{{ticket[0].NgayDi}}"	
					type="text"
					readonly
					class="form-control"
					id="basic-default-company"
					placeholder="ACME Inc." />
				</div>
			  </div>
			  <div class="row mb-3">
				<label class="col-sm-2 col-form-label" for="basic-default-company">Tên tuyến</label>
				<div class="col-sm-10">
				  <input
				    value="{{ticket[1].TenChuyen}}"	
					type="text"
					readonly
					class="form-control"
					id="basic-default-company"
					placeholder="ACME Inc." />
				</div>
			  </div>
			  <div class="row mb-3">
				<label class="col-sm-2 col-form-label" for="basic-default-company">Tổng tiền</label>
				<div class="col-sm-10">
				  <input
				    value="{{ticket[2].SoTien}}đ"	
					type="text"
					readonly
					class="form-control"
					id="basic-default-company"
					placeholder="ACME Inc." />
				</div>
			  </div>
			  <div class="row mb-3">
				<label class="col-sm-2 col-form-label" for="basic-default-company">Ghế đã đặt</label>
				<div class="col-sm-10">
				  <input
				    value="{% for s in taken_seat %}
					{{s.IDGhe}},  
					{% endfor %}"	
					type="text"
					readonly
					class="form-control"
					id="basic-default-company"
					placeholder="ACME Inc." />
				</div>
			  </div>	
			  <div class="row mb-3">
				<label class="col-sm-2 col-form-label" for="basic-default-company">Trạng thái vé</label>
				<div class="col-sm-10">
				  <input
				    value="{{
						"ĐẶT THÀNH CÔNG" if ticket[0].TrangThai == 1
						else "ĐÃ HỦY" if ticket[0].TrangThai == 0
						else "ĐÃ SỬ DỤNG"
					  }}"	
					type="text"
					readonly
					class="form-control"
					id="basic-default-company"
					placeholder="ACME Inc." />
				</div>
			  </div>	
			  <div class="row mb-3">
				<label class="col-sm-2 col-form-label" for="basic-default-company">Trạng thái thanh toán</label>
				<div class="col-sm-10">
				  <input
				    value="{{ "Đã thanh toán" if ticket[2].TrangThai == 1 else ("Chưa thanh toán" if ticket[2].TrangThai == 0 else "Đã hoàn tiền") }}"	
					type="text"
					readonly
					class="form-control"
					id="basic-default-company"
					placeholder="ACME Inc." />
				</div>
			  </div>	
			  
			  
			  <div class="row justify-content-end">
				<div class="col-sm-10">
				  <button type="button" onclick="ticket_confirm()" class="btn btn-primary">Xác nhận sử dụng</button>
				</div>
			  </div>
			</form>
		  </div>
		</div>
	  </div>
	  <script>
		function ticket_confirm() {
			
            Swal.fire({
                title: 'Xác nhận sử dụng vé?',
				text: 'Vé sẽ được sử dụng cho chuyến xe này. Sau khi xác nhận sẽ không thể hoàn trả.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Có',
                cancelButtonText: 'Không',
                }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                    type: "POST",
                    url: "/admin/confirm_normal_ticket_api",
                    data: JSON.stringify({'id' : '{{ticket[0].MaVe}}' }),
                    dataType: 'json',
                    contentType: "application/json;charset=utf-8",
                    success: function(response) {
                            if (response.error === false) {
                                
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Thành công!',
                                    text: response.message,
                                    showConfirmButton: false,
                                    timer: 1500 
                                });
                                window.location.reload()
                                
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Lỗi',
                                    text: response.message,
                                });
                            }
                        },
                        
                    });    
                } else {
                    
                    
                }
                });
            
            
       
		}
	  </script>
 	
  </div>
{% endblock %}