
<!--====== FOOTER 2 ==========-->
<section>
	<div class="rows">
		<div class="footer">
			<div class="container">
				<div class="foot-sec2">
					<div>
						<div class="row">
							<div class="col-sm-3 foot-spec foot-com">
								<h4><span>VNBUz</span></h4>
								<p>Dịch vụ tận tình, chuyên nghiệp mang tới trải nghiệm tốt nhất tới quí khách hàng.</p>
							</div>
							<div class="col-sm-3 foot-spec foot-com">
								<h4><span>Địa chỉ</span> & Thông tin liên hệ</h4>
								<p>Văn phòng VNBuz, Đường 355, Thủ Dầu Một, Bình Dương</p>
								<p> <span class="strong">Phone: </span> <span class="highlighted">+8498546897</span> </p>
							</div>
							
							<div class="col-sm-3 foot-social foot-spec foot-com">
								<h4><span>Theo dõi </span> chúng tôi</h4>
								<p>Để cập nhật các tin tức mới nhất liên quan tới các chuyến xe và chương trình khuyến mãi.</p>
								<ul>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
									<li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a> </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====== FOOTER - COPYRIGHT ==========-->
<section>
	<div class="rows copy">
		<div class="container">
			<p>Copyrights © 2023 VNBuz. All Rights Reserved</p>
		</div>
	</div>
</section>
<section>
	<div class="icon-float">
		<ul>
			<li><a href="#" class="sh">1k <br> Share</a> </li>
			<li><a href="#" class="fb1"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
			<li><a href="#" class="gp1"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
			<li><a href="#" class="tw1"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
			<li><a href="#" class="li1"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
			<li><a href="#" class="wa1"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
			<li><a href="#" class="sh1"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> </li>
		</ul>
	</div>
</section>
<!--========= Scripts ===========-->
<script src="static/js/jquery-latest.min.js"></script>
<script src="static/js/jquery-ui.js"></script>
<script src="static/js/bootstrap.js"></script>
<script src="static/js/wow.min.js"></script>
<script src="static/js/materialize.min.js"></script>
<script src="static/js/custom.js"></script>
</body>

</html>