{% extends "/admin/profile_detail/side_bar.html" %}
{% block child %}
    <!-- Project table -->
      <div class="card mb-4">
        <h5 class="card-header">Lịch sử mua vé</h5>
        <div class="table-responsive mb-3">
          <table class="datatables-basic table table-bordered">
            <thead class="table-light">
              <tr>
                <tr>
									
									<th>Ngày đặt</th>
									<th>Tuyến</th>
									<th>Điểm đón</th>
									<th>Tổng tiền</th>
									<th>Trạng thái</th>
									<th>Thanh toán</th>
									<th>Chi tiết</th>
								</tr>
              </tr>
            </thead>
            <tbody>
              
              {% for tk in ticket_list %}
                <tr>
                  <td>{{tk[0].NgayDat}}</td>
                  <td>{{tk[1].TenChuyen}}</td>
                  <td>{{tk[0].DiemDon}}</td>
                  <td>{{tk[2].SoTien}}đ</td>
                  <td>
                    <span class='{{ "bg-label-success" if tk[0].TrangThai == 1 else "bg-label-danger" if tk[0].TrangThai == 0 else "bg-label-warning" }}'>
                      {{
                        "ĐẶT THÀNH CÔNG" if tk[0].TrangThai == 1
                        else "ĐÃ HỦY" if tk[0].TrangThai == 0
                        else "ĐÃ SỬ DỤNG"
                      }}
                    </span>
                  </td>
                  <td><span class='{{"bg-label-success" if tk[2].TrangThai == 1 else "bg-label-danger" }}'>{{ "Đã thanh toán" if tk[2].TrangThai == 1 else ("Chưa thanh toán" if tk[2].TrangThai == 0 else "Đã hoàn tiền") }}</span></td>
                  <td><a href="ticket_detail?id={{tk[0].MaVe}}"
                    onclick="view_ticket_info(
                      ''

                    )"  
                    
                    class="db-done">Xem</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- /Project table -->

      <div class="card mb-4">
        <h5 class="card-header">Danh sách hóa đơn</h5>
        <div class="table-responsive text-nowrap">
          <table class="table">
            <thead>
              <tr>
                <th>Mã hóa đơn</th>
                <th>Khách hàng</th>
                <th>Ngày lập</th>
                <th>Trạng thái</th>
                
                <th>Ngày thanh toán</th>
              
                <th></th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              {% for invoice in invoice_list %}
                <tr>
                  <td>
                    {{invoice[1].MaHoaDon}}
                  </td>
                  <td>{{invoice[2].HoVaTenKhachHang}}</td>
                  <td>
                    {{invoice[1].NgayLap}}
                  </td>
                  <td>
                    {% if invoice[1].TrangThai == 0 %}
                      <span class="badge rounded-pill bg-label-primary me-1">Đang chờ thanh toán</span>
                    {% elif invoice[1].TrangThai == 1 %}
                      <span class="badge rounded-pill bg-label-success me-1">Đã thanh toán</span>
                    {% elif invoice[1].TrangThai == 2 %}
                      <span class="badge rounded-pill bg-label-danger me-1">Đã hủy</span>
                    {% else %}
                      <span class="badge rounded-pill bg-label-unknown me-1">Trạng thái không xác định</span>
                    {% endif %}
                  </td>
                  <td>
                    {{invoice[1].NgayThanhToan}}
                  </td>
                  <td>
                    <div class="dropdown">
                      <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                        <i class="mdi mdi-dots-vertical"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="/admin/invoice_detail/{{invoice[1].MaHoaDon}}"
                          ><i class="mdi mdi-pencil-outline me-1"></i> Xem chi tiết</a
                        >
                       
                      </div>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- /Project table -->


    
{% endblock %}